# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/

# Configuration/Cache
*.log
*.pyproj
*.vscode/
.pytest_cache/

# Jupyter/Data
.ipynb_checkpoints
*.csv
*.xlsx

# OS/Editor
.DS_Store
Thumbs.db

# Project specific
config.env